@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  word-break: break-all;
  font-family: 'LeferiPoint-r';
}

::before, ::after {
  box-sizing: border-box;
}

body {
  line-height: 1.43;
  font-family: LeferiPoint-r,Noto,sans-serif;
  font-size: 15px;
  letter-spacing: -0.03em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  display: block;
}

/* 테이블 스타일 초기화 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  table-layout: fixed;
}

th, td {
  font-weight: 600;
}

td {
  word-wrap: break-word;
  word-break: keep-all;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend, caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

address, caption, em, var {
  font-style: normal;
  font-weight: inherit;
}

/* 링크 */
a {
  text-decoration: none;
  color: #000;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

/* 이미지, 폼관련 요소 */
img {
  border: 0;
  vertical-align: top;
  width: 100%;
}

select,
input,
textarea {
  width: 100%;
  vertical-align: middle;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  border: 0;
  background: #fff;
  color: #000;
  transition: all 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: #000;
  background-color: #fff;
  outline: none;
}

::placeholder {
  font-size: inherit;
  color: #bcbcbc;
}

button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: default;
}

body {
  background: #e9ecef;
}

.nav-box {
  position: absolute;
  top: 18%;
  left: 20px;
}

.nav-box a {
  font-size: 30px;
}

.fixed-bottom {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: row;
}

.fixed-bottom button {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: #ffe281;
  font-size: 0;
}

.fixed-bottom button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: translate(-30%, -50%) rotate(225deg);
  transition: 0.125s all ease-in;
}

.form-item {
  position: relative;
}

.form-item input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Nunito, sans-serif;
}

.form-item textarea {
  min-height: 200px;
  overflow: auto;
  padding: 20px;
  resize: none;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Nunito, sans-serif;
}

.form-item textarea:focus {
  border-color: #000;
  background-color: #fff;
  outline: none;
}

.form-item + .form-item {
  margin-top: 15px;
}

.btn-wrap {
  text-align: center;
}

.btn-type {
  padding: 15px 25px;
  border-radius: 5px;
  background: #ffe281;
  font-size: 16px;
  font-weight: 600;
}

.title-wrap {
  position: relative;
}

.title-wrap .side {
  position: absolute;
  top: 4px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrap .side em {
  padding: 0 5px;
  font-size: 18px;
  font-weight: 700;
  color: #ff9800;
}
/*# sourceMappingURL=style.css.map */